.container{
    width: 100%;
}
#weather{
    width: 800px;
    height: 240px;
    background: #1192d3 url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/austin-2.jpg) no-repeat bottom right;
    background-size: cover;
}
.text{
    font-size: 18px;
    width: 40%;
    margin: 0 auto;
    padding: 20px;
}